<div class="small-medium-hide col-lg-3">

<!--   <div class="logo">{{ 'Screen-Shot-2022-05-14-at-1-08-22-am.png' | asset_url | img_tag }}</div> -->

  <ul class="list-unstyled">
    {% for link in linklists.main-menu.links %}
      {% if link.links != blank %}
        <li class="{% if link.current or link.child_current %}current{% endif %} nav-item-has-children">
          <a href="{{ link.url }}">
            {{ link.title }} 
          </a>
          <ul>
            {% for childlink in link.links %}
              <li class="{% if link.active %}current{% endif %}">
                <a href="{{ childlink.url }}">
                  {{ childlink.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="{% if link.active %}current{% endif %}">
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul> 
<!--   <ul class="list-unstyled">
    <li>
      {%- form 'currency' -%}
        {{ form | currency_selector }}
      {%- endform -%}
    </li>
  </ul> -->
</div>