<header>
  <div class="nav--desktop">
    {%comment%} ---- Navbar: Left {%endcomment%}
    <div>
      &nbsp;
    </div>

    {%comment%} ---- Navbar: Right {%endcomment%}
    <div class="tools">
      {% if shop.customer_accounts_enabled %}
        <ul class="hide">
          {% if customer %}
          <li>
            <a href="/account">account</a>
          </li>
          <li>
            {{ 'log out'  | customer_logout_link }}
          </li>
          {% else %}
          <li>
            {{ 'log in ' | customer_login_link }}
          </li>
          <li>
            {{ 'register' | customer_register_link }}
          <li>
          {% endif %}
        </ul>
      {% endif %}

      <ul class="list-unstyled">
        <li>
          <a href="{{ routes.cart_url }}" id="cart-link">{{ 'layout.cart.title' | t }}
            {%- if cart != empty -%}
              (<span id="cart-count">{{ cart.item_count }}</span>)
            {%- endif -%}
          </a>
        </li>
        {% comment %}
        <li>
          {%- form 'currency' -%}
            {{ form | currency_selector }}
          {%- endform -%}
        </li>
        {% endcomment %}
      </ul>
    </div>

  </div>


  {% comment %}
  Mobile
  {% endcomment %}
  <nav class="nav--mobile">
    <div class="d-flex flex-row align-items-stretch" style="">

      <div class="hide-on-desktop">
        <a href="{{ shop.url }}/collections/frontpage/" class="logo">
          <img src={{ 'AIAGSemblem.svg' | asset_url }} alt="All Is A Gentle Spring" />
        </a>
      </div>

      <div class="hamburger d-flex flex-column justify-content-center align-items-center">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
      </div>

    </div>

    <div class="burger">
      <div class="hide-on-mobile">
        <a href="{{ shop.url }}/collections/frontpage/" class="logo">
          <img src={{ 'AIAGSemblem.svg' | asset_url }} alt="All Is A Gentle Spring" />
        </a>
      </div>
    </div>

    <div>
      <a href="{{ routes.cart_url }}" id="cart-link">{{ 'layout.cart.title' | t }}
        {%- if cart != empty -%}
          (<span id="cart-count">{{ cart.item_count }}</span>)
        {%- endif -%}
      </a>
    </div>
  </nav>

</header>

{% render 'cart-notification' %}

{%comment%}
<div id="nav-container" class="nav-container">
  <div class="nav-inner">
    <div class="nav-inner-inner">
      <div class="close">
      {% render 'icon-close' %}
      </div>
      <div class="list-unstyled">
        <ul>
          {% for link in linklists.main-menu.links %}
            {% if link.links != blank %}
              <li class="{% if link.current or link.child_current %}current{% endif %} nav-item-has-children">
                <a href="{{ link.url }}">
                  {{ link.title }} 
                </a>
                <ul>
                  {% for childlink in link.links %}
                    <li class="{% if link.active %}current{% endif %}">
                      <a href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="{% if link.active %}current{% endif %}">
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul> 
        <ul>
          <li>
            {%- form 'currency' -%}
              {{ form | currency_selector }}
            {%- endform -%}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{%endcomment%}

{% schema %}
{
    "name": "Header",
    "tag": "header",
    "settings": [
        {
            "type": "checkbox",
            "id": "hide_header_on_landing",
            "label": "Hide Header on Landing Page",
            "default": true
        }
    ]
}
{% endschema %}