{%comment%}
*
* Template: Single Product
* url: /collections/SINGLE_PRODUCT
*
{%endcomment%}

{{ 'bootstrap--accordion.css' | asset_url | stylesheet_tag }}
{{ 'sizing-chart.css' | asset_url | stylesheet_tag }}


{%- assign current_variant = product.selected_or_first_available_variant -%}
<div class="product container-fluid">
  <div class="row">

    {%comment%}
    *
    * Sidebar
    *
    {%endcomment%}
    <div class="sidebar-container hidden-md-down hide-less-than-md col-lg-2">
      {%- include 'sidebar' -%}
    </div>
    

    <div class="hide-less-than-lg col-lg-2 display-flex-justify-space-between">
      <!-- SPACER -->
    </div>

    {%comment%}
    *
    * Slideshow
    *
    {%endcomment%}
    <style>
      figure.zoom {
        background-position: 50% 50%;
        position: relative;
        /* margin: 150px auto; */
        height: 100%;
        width: 100%;
        overflow: hidden;
        cursor: zoom-in;
      }
      figure.zoom img:hover {
        opacity: 0;
      }
      figure.zoom img {
        transition: opacity 0.5s;
        display: block;
        width: 100%;
      }
    </style>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 product-images">
      <div class="gallery swiper">
        <div class="swiper-wrapper">
        {%- for media in product.media -%}
          {%- if media.media_type == 'image' -%}
          {%- assign image = media.preview_image -%}

            {%comment%}
            * Slide
            {%endcomment%}
            <div class="swiper-slide" data-media-id="{{ media.id }}">
              <div id="img-container" class="image-container">
                <figure class="zoom" onmousemove="zoom(event)" style="background-image: url({{ image | img_url: '2048x' }})">
                  <img src="{{ image | img_url: '2048x' }}" alt="{{ image.alt | escape }}">
                </figure>
              </div>
            </div>

          {%- endif-%}
        {%- endfor -%}
        </div>
        <script type="text/javascript">
          function zoom(e){
            var zoomer = e.currentTarget;
            e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
            e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
            x = offsetX/zoomer.offsetWidth*100
            y = offsetY/zoomer.offsetHeight*100
            zoomer.style.backgroundPosition = x + '% ' + y + '%';
          }
        </script>

        {%comment%}
        * Pagination
        {%endcomment%}       
        <div class="swiper-pagination"></div>

        {%comment%}
        * Hover Controls
        {%endcomment%} 
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    {%comment%}
    *
    * Product Info
    *
    {%endcomment%}   
    <div id="ProductInfo-{{ section.id }}" class="col-xs-12 col-sm-4 col-md-3 product-info">

      {%comment%}
      * Vendor
      {%endcomment%} 
      <p class="hide">{{ product.vendor | escape }}</p>

      {%comment%}
      * Title
      {%endcomment%}       
      <h1 class="product__title">
        {{ product.title | escape }}
      </h1>
  
      {%comment%}
      * Price
      {%endcomment%} 
      {% render 'price', product: product %}

      {%comment%}
      *
      * Quantity
      *
      {%endcomment%}  
      <div class="info-container-inner-inner">
        <div class="product-form__input product-form__input-quantity">
          <label class="form__label" for="Quantity-{{ section.id }}">
            {{ 'products.product.quantity.label' | t }}
          </label>

          <quantity-input class="quantity">
            <button class="quantity__button no-js-hidden" name="minus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
              {% render 'icon-minus' %}
            </button>
            <input class="quantity__input"
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                min="1"
                value="1"
                form="{{ product_form_id }}"
              >
            <button class="quantity__button no-js-hidden" name="plus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>

        {%comment%}
        * Variant Radio Buttons
        {%endcomment%} 
        <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
          {%- for option in product.options_with_values -%}
              <fieldset class="js product-form__input{% if option.values.size <= 1 %} hide{% endif %}">
                <legend class="form__label">{{ option.name }}</legend>
                {%- for value in option.values -%}
                  <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        {% if option.selected_value == value %}checked{% endif %}
                  >
                  <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                    {{ value }}
                  </label>
                {%- endfor -%}
              </fieldset>
          {%- endfor -%}
          <script type="application/json">
            {{ product.variants | json }}
          </script>
        </variant-radios>

        {%comment%}
        * Scriptless Quantity Input
        {%endcomment%} 
        <noscript class="product-form__noscript-wrapper-{{ section.id }}">
          <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
            <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
            <div class="select">
              <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                {%- for variant in product.variants -%}
                  <option
                    {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                    {% if variant.available == false %}disabled{% endif %}
                    value="{{ variant.id }}"
                  >
                    {{ variant.title }}
                    {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                    - {{ variant.price | money | strip_html }}
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon-plus' %}
            </div>
          </div>
        </noscript>

        {%comment%}
        *
        * Add To Cart
        *
        {%endcomment%}  
        <product-form class="product-form">

          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
            <div class="product-form__buttons">
              <button
                type="submit"
                name="add"
                class="product-form__submit button"
              {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
              >
                  <span>
                    {%- if product.selected_or_first_available_variant.available -%}
                      {{ 'products.product.add_to_cart' | t }}
                    {%- else -%}
                      <span>Coming soon</span>
                    {%- endif -%}
                  </span>
                  <div class="loading-overlay__spinner hidden">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
              </button>
              {%- comment-%}
                {{ form | payment_button }}
              {%- endcomment -%}
            </div>
          {%- endform -%}

          {%comment%}
          * Errors
          {%endcomment%} 
          <div class="product-form__error-message-wrapper" role="alert" hidden>
            <span class="product-form__error-message"></span>
          </div>
        </product-form>

      </div>




      {%comment%}
      *
      * Accordion
      *
      {%endcomment%}
      {%- if product.description != blank -%}

        <div class="accordion" id="accordionExample">
          <div class="accordion-item about-accordion">
            <h2 class="accordion-header" id="heading--About">
              <span class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse--About" aria-expanded="true" aria-controls="collapse--About">
                About
              </span>
            </h2>
            <div id="collapse--About" class="accordion-collapse collapse" aria-labelledby="heading--About" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ product.description }}</p>  
              </div>
            </div>
          </div>
        </div>

      {%- endif -%}

      {%comment%}
      * Section Blocks
      {%endcomment%} 
      {% assign i = 0 %}
      {%- for block in section.blocks -%}
        {% assign i = i | plus:1 %}
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading--{{ i }}">
                <span class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse--{{ i }}" aria-expanded="false" aria-controls="collapse--{{ i }}">
                  {{ block.settings.heading | default: block.settings.page.title }}
                </span>
              </h2>
              <div id="collapse--{{ i }}" class="accordion-collapse collapse" aria-labelledby="heading--{{ i }}">
                <div class="accordion-body">
                  {%- if block.settings.content contains product.metafields.custom.product_sizing_table.value -%}
                    <p>{{ product.metafields.custom.product_sizing }}</p>
                    <p class="sizing_chart_link">Sizing chart</p>
                  {%- else -%}
                    <p>{{ block.settings.content }}</p>
                  {%- endif -%}    
                </div>
              </div>
            </div>
          </div>
      {%- endfor -%}
      
      {% include 'product-sizing-chart' %}

      {%comment%}
      * Settings
      {%endcomment%} 
      {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'custom_liquid' -%}
          {{ block.settings.custom_liquid }}
        {%- when '@app' -%}
          {% render block %}
        {%- endcase -%}
      {%- endfor -%}
    </div>

    {%comment%}
    *
    * Related Products
    * TO DO: currently listed as Serving Suggestions, needs to be Related Products
    *
    {%endcomment%}
    <div class="hide-less-than-md product-serving col-md-2">

      <div class="accordion" id="accordionExample">
        <div class="accordion-item related-accordion">
          <h2 class="accordion-header" id="headingOne">
            <span class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse--Related" aria-expanded="false" aria-controls="collapse--Related">
              Related Products
            </span>
          </h2>
          <div id="collapse--Related" class="accordion-collapse collapse" aria-labelledby="headingOne">
            <div class="accordion-body">
              {% include 'product-recommendations' %}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div style="height: 14px">&nbsp;</div>
  </div>

  
</div>

{%comment%}
*
* Scripts
*
{%endcomment%}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{%comment%}
*
* Block Settings
*
{%endcomment%}
{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Content"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "collapsible_tab",
      "name": "Collapsible Tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible Row",
          "info": "Include a heading that explains the content.",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Row content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Row content from page"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}