{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}

<style>
  .cart-container {
    padding-top: 80px;
  }
</style>

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<div class="cart-container">

    <div class="row">

    <div class="col-lg-2">
      
        <div class="sidebar-container">
          <div class="h-10">
            <a href="{{ shop.url }}/collections/frontpage/" class="logo sidebar-logo">
              <img src={{ 'AIAGSemblem.svg' | asset_url }} alt="All Is A Gentle Spring" />
            </a>
          </div>

          <div class="col h-80 d-flex flex-column justify-content-between">
            {%- include 'sidebar' -%}
          </div>
        </div>

    </div>

    <div class="col-lg-10" style="padding: 10px 20px;">
      <cart-items class="main-cart-items{% if cart == empty %} is-empty{% endif %}">

        <div class="cart__warnings">
          <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
          <a href="{{ routes.all_products_collection_url }}" class="button">
            {{ 'general.continue_shopping' | t }}
          </a>
    
          {%- if shop.customer_accounts_enabled and customer == nil -%}
            <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
            <p class="cart__login-paragraph">
              {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
            </p>
          {%- endif -%}
        </div>
        <form action="{{ routes.cart_url }}" class="cart__contents" method="post" id="cart">
          <div id="main-cart-items" data-id="{{ section.id }}">
            <div class="js-contents">
              {%- if cart != empty -%}
                <table class="cart-items">
                  <thead>
                    <tr>
                      <th>{{ 'sections.cart.headings.product' | t }}</th>
                      <th>{{ 'sections.cart.headings.quantity' | t }}</th>
                      <th>{{ 'sections.cart.headings.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%- for item in cart.items -%}
                      <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                        <td>
                          <table class="product-column">
                            <tbody>
                              <tr>
                                  <td class="cart-item__media">
                                    {%- if item.image -%}
                                      {%- comment -%} Leave empty space due to a:empty CSS display: none rule {%- endcomment -%}
                                      <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"><img src="{{ item.image | image_url: width: 300 }}"
                                            class="cart-item__image"
                                            alt="{{ item.image.alt | escape }}"
                                            loading="lazy"
                                            width="150"
                                            height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                                          ></a>
                                    {%- endif -%}
                                  </td>
                                  <td class="cart-item__details">
                                    {%- if section.settings.show_vendor -%}
                                      <p>{{ item.product.vendor }}</p>
                                    {%- endif -%}
    
                                    <a href="{{ item.url }}" class="cart-item__name">{{ item.product.title | escape }}</a>
    
                                    {%- if item.product.has_only_default_variant == false -%}
                                      <dl>
                                          {%- for option in item.options_with_values -%}
                                            <div class="product-option">
                                              <dt>{{ option.name }}: </dt>
                                              <dd>{{ option.value }}</dd>
                                            </div>
                                          {%- endfor -%}
                                      </dl>
                                    {%- endif -%}
    
                                    {%- if item.original_price != item.final_price -%}
                                      <div class="cart-item__discounted-prices">
                                        <span class="visually-hidden">
                                          {{ 'products.product.price.regular_price' | t }}
                                        </span>
                                        <s class="cart-item__old-price product-option">
                                          {{- item.original_price | money -}}
                                        </s>
                                        <span class="visually-hidden">
                                          {{ 'products.product.price.sale_price' | t }}
                                        </span>
                                        <strong class="cart-item__final-price product-option">
                                          {{ item.final_price | money }}
                                        </strong>
                                      </div>
                                    {%- else -%}
                                      <div class="product-option">
                                        {{ item.original_price | money }}
                                      </div>
                                    {%- endif -%}
                                  </td>
                                </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="cart-item__quantity">
    
                          <div class="cart-item__quantity-wrapper">
                            <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                              {{ 'products.product.quantity.label' | t }}
                            </label>
                            <quantity-input class="quantity">
                              <button class="quantity__button no-js-hidden" name="minus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                {% render 'icon-minus-small' %}
                              </button>
                              <input class="quantity__input"
                                type="number"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                min="0"
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                              <button class="quantity__button no-js-hidden" name="plus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                {% render 'icon-plus-small' %}
                              </button>
                            </quantity-input>
                          </div>
    
                          <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                            <a href="{{ item.url_to_remove }}" class="" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                              {% render 'icon-close-small' %}
                            </a>
                          </cart-remove-button>
                        </td>
                        <td class="cart-item__totals">
                          <div class="loading-overlay hidden">
                            <div class="loading-overlay__spinner">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                              </svg>
                            </div>
                          </div>
                          <div class="cart-item__price-wrapper">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <dl class="cart-item__discounted-prices">
                                <dt class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </dt>
                                <dd>
                                  <s class="cart-item__old-price price price--end">
                                    {{ item.original_line_price | money }}
                                  </s>
                                </dd>
                                <dt class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </dt>
                                <dd class="price price--end">
                                  {{ item.final_line_price | money }}
                                </dd>
                              </dl>
                            {%- else -%}
                              <span class="price price--end">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}
    
                            {%- if item.variant.available and item.unit_price_measurement -%}
                              <div class="unit-price caption">
                                <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                {{ item.variant.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                  {{- item.variant.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ item.variant.unit_price_measurement.reference_unit }}
                              </div>
                            {%- endif -%}
                          </div>
                        </td>
    
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              {%- endif -%}
            </div>
          </div>
          <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
          <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
        </form>
      </cart-items>

    </div>


    </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>


{% javascript %}
  class CartNote extends HTMLElement {
    constructor() {
      super();

      this.addEventListener('change', debounce((event) => {
        const body = JSON.stringify({ note: event.target.value });
        fetch(`${routes.cart_update_url}`, {...fetchConfig(), ...{ body }});
      }, 300))
    }
  }

  customElements.define('cart-note', CartNote);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    }
  ]
}
{% endschema %}
