<div class="page-container container-fluid">
	<div class="page-row row">

		<div class="page-col__left hide-less-than-lg col-lg-2 display-flex-justify-space-between padding-bottom-2rem">

			<div class="sidebar-container">
				<div class="h-10">
				  <a href="{{ shop.url }}/collections/frontpage/" class="logo sidebar-logo">
					<img src={{ 'AIAGSemblem.svg' | asset_url }} alt="All Is A Gentle Spring" />
				  </a>
				</div>
		
				<div class="col h-80 d-flex flex-column justify-content-between">
				  {%- include 'sidebar' -%}
				</div>
			  </div>
		</div>
  
		<div class="page-col__center padding-bottom-2rem col-xs-12 col-sm-6 col-lg-5">
			<div class="page-column__right col-xs-12 col-sm-7 justify-end-sm">
                {{ page.metafields.custom.center_section }}
			</div>
		</div>

		<div class="page-col__right padding-bottom-2rem col-xs-12 col-sm-6 col-lg-5">
			<div class="single-page__content-wrapper">
				<h1>{{ page.title }}</h1>
				<div>{{ page.content }}</div>
			</div>
		</div>


	</div>
</div>
